
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.html{
  /* font-size: 62.5%; */
  scroll-behavior: auto;
}

/* NAVBAR */
.navbar {
         background-color: #3F4143;

}

.navbar-brand-h1 {
  color: var(--gray-200);
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

.navbar img {
  width: 80px;
  margin-right: 1rem;
  padding: 1rem 0;
}

.navbar .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .navbar-nav{
  text-align: center;
}

.navbar .navbar-nav a:last-child{
  color: #009349;
}

/*Imagen Principal */

#img{
	 height: 900px;
	 width: 2000px;
}

.cuadro .contenido{

    position: relative;
    display: inline-block;
    text-align: center;
}
 
.cuadro .texto{
    position: absolute;
    top: 10px;
    left: 10px;
}

.cuadro .shadow{
	width: 100%;
	height: 100%;
	/*background-color: rgba(0, 0, 0, 0.6);*/
}

.cuadro .container-flex{
	width: 70%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	
}

.cuadro .contenido{
	width: 60%;
	margin-bottom: 20vh;
	text-align: right;

}

.cuadro .buttons{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

}

.cuadro .buttons a{
	color: #BDC3C7;
	text-decoration: none;
}

.cuadro .btn{
	padding: 0,5rem 1rem;
	margin: 0,5rem;
	border-radius: 5px;
}

.cuadro .btn-transparente{
	border: 1px solid green;
}

.cuadro .btn-transparente:hover{
	background-color: rgba(255, 255, 255, .55);
	border: 1px solid rgba(255, 2555, 255, .55);
	transition: 0.5s;
}

.cuadro .btn-verde{
	background-color: grenn;
	border: 1px solid green;

}

.cuadro .btn-verde:hover{
	background-color: rgba(0, 120, 0, 0.5);
	transition: 0.5s;
}

.cards .oradores{
	text-align: center;
}

.cards .elementos h6{
	font-size: 0 8rem;
	font-weight: 700;
	padding: 0.3rem;
	margin-right: 0.5rem;
	margin-bottom: 0;
}

.cards .elementos{
	margin-top: 1rem;
	display: flex ;
}

.cards .elementos .yellow{
	background-color: rgb(255, 187, 0);
	border-radius: 5px;
}

.cards .elementos .cyan{
	background-color: rgb(0, 195, 255);
	color: white;
	border-radius: 5px;
}

.cards .elementos .grey{
	background-color: grey;
	color: white;
	border-radius: 5px;
}

.cards .elementos .red{
	background-color: rgb(161, 18, 49);
	color: white;
	border-radius: 5px;
}

.tickects .container{
	width: 90;
	width-max: 800px;
	margin: 0 auto;
}